:root {
    /* Cores */
    --primary: #040053;
    --blue: #2444FF;
    --blue-ligth: #24C4FF;

    --back-color: #000;
    --ligth-color: #ECECEC;
    --middle-color: #D9D9D9;
    --ligth-color: #ececec;

    /* Size */
    --type-zero: 1rem;
    --type-one: 1.5rem;
    --type-two: 2rem;
    --type-three: 3rem;
}

body,
main {
    background-color: var(--back-color);
    color: var(--ligth-color);
}

header {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: hsla(0, 0%, 0%, 0.300);
    box-shadow: rgba(0, 0, 0, 0.100) 0px 3px 8px;
    color: var(--ligth-color);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    z-index: 1;
}

header section{
    margin: 2rem;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin: 0 1rem;
    font-size: 1.5rem;
}

a {
    color: var(--ligth-color);
    text-decoration: none;
    transition: all .5s ease-in-out;
}

a:hover,
a:active,
a:focus {
    /* text-decoration: underline #f9f1e9 2px; */
    /* background: -webkit-linear-gradient(45deg, #2444FF, #24C4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: changeColor 6s linear infinite;
}

.txt-grad {
    background: -webkit-linear-gradient(45deg, var(--blue), var(--blue-ligth));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .1s ease-in-out;
}

.txt-grad-animated {
    /* background: -webkit-linear-gradient(45deg, #2444FF, #24C4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: changeColor 6s linear infinite;
    transition: all .1s ease-in-out;
}

.title-section{
    width: 100%;
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
}

/* SERVICE */
#service{
}

.service-card {
    width: 100%;
    min-height: 45rem;
    justify-content: center;
    align-items: center;
}

.service-img {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 40%;
}

.service-img img {
    width: 40rem;
    height: 40rem;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.service-desc {
    padding: 0 5rem;
    width: 50%;
    justify-content: center;
}

.amimatedRigth {
    animation: descAppearRigth 1ms ease-in-out; 
    animation-timeline: view();
    animation-range: cover -40% cover 40%;
}

.amimatedleft {
    animation: descAppearLeft 1ms ease-in-out; 
    animation-timeline: view();
    animation-range: cover -40% cover 40%;
}

@keyframes descAppearLeft {
    0% {
        opacity: 0;
        translate: -100vw 0;
    }

    60%{
        opacity: 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes descAppearRigth {
    0% {
        opacity: 0;
        translate: 100vw 0;
    }

    60%{
        opacity: 0;
    }

    100% {
        
        opacity: 1;
        translate: 0 0;
    }
}


.service-img .img1 {
    animation: firstchange 8s ease-in-out infinite;
} 

.service-img .img2 {
    opacity: 0;
    animation: secondchange 8s ease-in-out infinite;
} 


@keyframes firstchange {
    0%,
    100% {
        opacity: 1;
    }

    25%{
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75%{
        opacity: 0;
    }
}

@keyframes secondchange {
    0%,
    100% {
        opacity: 0;
    }

    25%{
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75%{
        opacity: 1;
    }
}
/* COMMENTARIOS */
.comment-area {
    overflow: hidden;
    padding: 5rem 0;
    display: flex;
    white-space: nowrap;
}

.comment-card {
    border: 1px solid #ECECEC;
    justify-content: space-between;
    min-width: 300px;
    width: 35rem;
    min-height: 10rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-right: 20rem;
}

.comment-card .card-head {
    align-items: center;
}

.comment-card .card-head div{
    margin-right: 1rem;
}

.comment-card .card-body p{
    margin-right: 1rem;
    padding: 0 0 0 2rem;
}

.comment-star{
    margin-left: 80%;
}

.slide-animete{
    animation: slide 30s linear infinite;
}

.comment-area1 .comment-card,
.comment-area2 .comment-card{
    white-space: wrap;
}


@keyframes slide {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

.comment-area2{
    margin-top: 2rem;
    padding-left: 17%;
}

@keyframes scaleup {
    0% {
        opacity: 0;
        scale: 0 0%;
    }

    60%{
        opacity: 0;
    }

    100% {
        opacity: 1;
        translate: 1 100%;
    }
} 

/*  */
.scaleup{
    animation: scaleup 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 35%;
}

/* LOGOTIPOS DE PARCEIROS */
.logos{ 
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
    white-space: nowrap; 
}

.logos:hover .slide-animete-logo{
    animation-play-state: paused;
}

.slide-animete-logo{
    display: inline-block;
    animation: 35s slide infinite linear;
}

.partnerslogo a{
    margin: 0 3rem;
}

.partnerslogo a img{
    height: 40px;
}

/* About Us */
.sobre{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sobre p{
    width: 70%;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.7rem;
}